/*
React-MD (mlaursen) Theme:
https://react-md.mlaursen.com/customization/themes?tab=1
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~react-md/src/scss/react-md';
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-200;
@include react-md-everything;

p {
  color: red !important;
  span {
    color: blue !important;
  }
}



.navigation {
  .main-content {
      display: flex;
      flex-direction: column;

      .main-container {
          display: flex;
          min-height: 100%;
          flex-direction: column;
          flex: 1;

          .main-content {
              flex: 1;
          }
      }
  }
  .toolbar-actions {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;

    .userlinks-container {
      @media (max-width: 640px - 1) {
        display: none;
      }
    }
  }
}

.toolbar-title {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.toolbar-title-text {
  margin: 0 0 0 10px !important;
  color: inherit !important;
}

.toolbar-avatar {
  margin-left: 10px;
  max-height: 94%;
  max-width: 94%;
}
